In [2]:
import sqlite3
import os

In [3]:
# 작업 폴더로 이동한다.
# 데이터 파일은 이미 올려져 있어야 한다.
os.chdir("C:\\Users\\mingzzang\\Desktop\\빅데이터\\01_SQL과 데이터 베이스_업데이트 4/database/")

In [12]:
# SQLite 에 연결 & Cursor 생성.
conn = sqlite3.connect("scratch.db")
cur = conn.cursor()

In [13]:
# MySQL 테이블 생성.
sql = "CREATE TABLE IF NOT EXISTS test ( a INT, b TEXT, c TEXT );"
cur.execute(sql);
conn.commit();

In [14]:
# "test" 테이블에 행 추가.
sql = "INSERT INTO test VALUES ( ?, ?, ? );"      # ?를 placeholder로 사용!
x = [1, "Hello", "World"]                        # 삽입될 내용.
cur.execute(sql,x);                                # 실행!
conn.commit();

In [15]:
# "test" 테이블에 행 계속 추가.
sqls = ["INSERT INTO test VALUES ( 2, 'This', 'Right here!' );", 
        "INSERT INTO test ( b, c ) VALUES ( 'That', 'Over there!' );",
        "INSERT INTO test ( a, b, c ) SELECT id, name, description FROM item;"] 
for a_sql in sqls:
    cur.execute(a_sql);
    conn.commit();

In [16]:
# 테이블 내용 보기.
sql = "SELECT * FROM test"
cur.execute(sql);
res = cur.fetchall() #fetchall() 는 한번만 하면 된다. 
res

[(1, 'Hello', 'World'),
 (2, 'This', 'Right here!'),
 (None, 'That', 'Over there!'),
 (1, 'Box of 64 Pixels', '64 RGB pixels in a decorative box'),
 (2, 'Sense of Humor', 'Especially dry. Imported from England.'),
 (3, 'Beauty', 'Inner beauty. No cosmetic surgery required!'),
 (4, 'Bar Code', 'Unused. In original packaging.')]

In [17]:
import pandas as pd

df_new  = pd.DataFrame(data=res)
df_new

     0                 1                                            2
0  1.0             Hello                                        World
1  2.0              This                                  Right here!
2  NaN              That                                  Over there!
3  1.0  Box of 64 Pixels            64 RGB pixels in a decorative box
4  2.0    Sense of Humor       Especially dry. Imported from England.
5  3.0            Beauty  Inner beauty. No cosmetic surgery required!
6  4.0          Bar Code               Unused. In original packaging.

In [10]:
sql = "DROP TABLE test;"
cur.execute(sql);
conn.commit()

In [11]:
conn.close()